/*
I added bootstrap for the browser reset features. (remove margins padding etc). It doesnt have to stay so if you guys see that it hinders you, it can come out. 
*/
body {
    font-family: "Open Sans", "Helvetica", sans-serif;
}

h1, h2 {
    color: white;
    font-family: "Lato", sans-serif;
}

/* Slice 3 - Features: BEGIN */
#features {
    background-color: #172330;
}

.feature-description {
    color: #f6f6f6;
}

#features ul {
    color: #5bc399;
}

#features span {
    color: #aaaebd
/* Slice 3 - Features: END */
